In [3]:
# Tugas 1
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")

db = client["company_db"]
collection = db["employees"]

collection.insert_one({"name": "David", "age": 20, "role": "Data Enginer"})

print("Koneksi Berhasil, Isi Koleksi")
for doc in collection.find():
    print(doc)

Koneksi Berhasil, Isi Koleksi
{'_id': ObjectId('6902dcda025fbaf062064004'), 'name': 'David', 'age': 20, 'role': 'Data Enginer'}

In [8]:
employee_data = {
    'name' : 'Alice',
    'departement': 'Finance',
    'age' : 20,
    'salary' : 4500
}
collection.insert_one(employee_data)
print('Data inserted')

#Tugas 2
employees = [
    {'name': 'Bob', 'department': 'IT', 'age': 30, 'salary': 5200},
    {'name': 'Charlie', 'department': 'HR', 'age': 35, 'salary': 5500},
    {'name': 'Diana', 'department': 'Marketing', 'age': 26, 'salary': 4000},
    {'name': 'Robby', 'department': 'IT', 'age': 27, 'salary': 5000}
]
collection.insert_many(employees)
print("4 data inserted")

# Update data : Salary Bob menjadi 5500
collection.update_one({'name': 'Bob'}, {'$set': {'salary': 5500}})
print("Data Bob updated")

# Delete data : delete data charlie
collection.delete_one({'name': 'Charlie'})
print("Data Charlie deleted")

# Menampilkan data terbaru
print("\n=== Data employees terbaru ===")
for employee in collection.find():
    print(employee)

Data inserted
4 data inserted
Data Bob updated
Data Charlie deleted

=== Data employees terbaru ===
{'_id': ObjectId('6902dcda025fbaf062064004'), 'name': 'David', 'age': 20, 'role': 'Data Enginer'}
{'_id': ObjectId('6902df6e025fbaf062064005'), 'name': 'Alice', 'departement': 'Finance', 'age': 20, 'salary': 4500}
{'_id': ObjectId('6902e312025fbaf062064006'), 'name': 'Alice', 'departement': 'Finance', 'age': 20, 'salary': 4500}
{'_id': ObjectId('6902e312025fbaf062064007'), 'name': 'Bob', 'department': 'IT', 'age': 30, 'salary': 5500}
{'_id': ObjectId('6902e312025fbaf062064009'), 'name': 'Diana', 'department': 'Marketing', 'age': 26, 'salary': 4000}
{'_id': ObjectId('6902e312025fbaf06206400a'), 'name': 'Robby', 'department': 'IT', 'age': 27, 'salary': 5000}

In [11]:
# Delete data : delete data alice
collection.delete_one({'name': 'Alice'})
print("Data Alice deleted")

# Delete data : delete data David
collection.delete_one({'name': 'David'})
print("Data David deleted")

# Menampilkan data terbaru
print("\n=== Data employees terbaru ===")
for employee in collection.find():
    print(employee)

Data Alice deleted
Data David deleted

=== Data employees terbaru ===
{'_id': ObjectId('6902e312025fbaf062064007'), 'name': 'Bob', 'department': 'IT', 'age': 30, 'salary': 5500}
{'_id': ObjectId('6902e312025fbaf062064009'), 'name': 'Diana', 'department': 'Marketing', 'age': 26, 'salary': 4000}
{'_id': ObjectId('6902e312025fbaf06206400a'), 'name': 'Robby', 'department': 'IT', 'age': 27, 'salary': 5000}

In [12]:
# Tugas 3
# Query Aggregation untuk menghitung rata-rata gaji per department
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'average_salary': 5250.0}
{'_id': 'Marketing', 'average_salary': 4000.0}

In [20]:
# Tugas 4

# 4.1: Membuat koleksi baru (products)
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")

db = client['company_db']

products = [ 
    {'name': 'Laptop ASUS', 'category': 'Electronik', 'price': 10000000, 'stock': 10},
    {'name': 'Handphone Redmi', 'category': 'Electronik', 'price': 4400000, 'stock': 20},
    {'name': 'Headphone', 'category': 'Electronik', 'price': 50000, 'stock': 50},
    {'name': 'Kaos polos', 'category': 'Fashion', 'price': 60000, 'stock': 100},
    {'name': 'Celana Jeans', 'category': 'Fashion', 'price': 120000, 'stock': 100},
    {'name': 'Meja belajar', 'category': 'Furniture', 'price': 30000, 'stock': 50},
    {'name': 'Pulpen', 'category': 'Alat tulis', 'price': 5000, 'stock': 70},
    {'name': 'Binder', 'category': 'Alat tulis', 'price': 12000, 'stock': 50},
    {'name': 'Sepatu', 'category': 'Fashion', 'price': 400000, 'stock': 40},
    {'name': 'Sandal', 'category': 'Fashion', 'price': 25000, 'stock': 40},
]
collection_products = db["products"]
collection_products.insert_many(products)
print("10 Products ditambahkan")

10 Products ditambahkan

In [21]:
# 4.2: Query untuk menentukan harga diatas rata-rata

avg_price = list(collection_products.aggregate([
    {'$group': {'_id': None, 'avgPrice': {'$avg': '$price'}}}
]))[0]['avgPrice']

print(f"Harga rata-rata produk: {avg_price:.2f}\n")
print("Produk dengan harga diatas rata-rata: ")

for p in collection_products.find({'price': {'$gt': avg_price}}):
    print(p)

Harga rata-rata produk: 1510200.00

Produk dengan harga diatas rata-rata:
{'_id': ObjectId('6902ec8a025fbaf06206400c'), 'name': 'Laptop ASUS', 'category': 'Electronik', 'price': 10000000, 'stock': 10}
{'_id': ObjectId('6902ec8a025fbaf06206400d'), 'name': 'Handphone Redmi', 'category': 'Electronik', 'price': 4400000, 'stock': 20}

In [26]:
# 4.3: Aggregation pipeline untuk menghitung total product setiap kategori

pipeline = [
    {'$group': {'_id': '$category', 'totalProducts': {'$sum': 1}}}
]

results = collection_products.aggregate(pipeline)

print("\n== Total produk per kategori ==")
for r in results:
    print(f"{r['_id']}: {r['totalProducts']} produk")

== Total produk per kategori ==
Fashion: 4 produk
Electronik: 3 produk
Furniture: 1 produk
Alat tulis: 2 produk

In [34]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]

# Hapus koleksi lama (biar bersih)
db["employees"].drop()

# Buat koleksi baru
collection = db["employees"]

# Dataset baru (tanpa Bob, Diana, Robby)
employees = [
    {"name": "Alice", "department": "Finance", "age": 29, "salary": 4500},
    {"name": "Charlie", "department": "HR", "age": 35, "salary": 5500},
    {"name": "Evan", "department": "Finance", "age": 32, "salary": 6000},
    {"name": "Fiona", "department": "IT", "age": 28, "salary": 7000},
    {"name": "George", "department": "HR", "age": 24, "salary": 3800},
    {"name": "Hannah", "department": "Marketing", "age": 27, "salary": 4200},
    {"name": "Ivan", "department": "Finance", "age": 31, "salary": 5800},
    {"name": "Julia", "department": "IT", "age": 33, "salary": 7200},
    {"name": "Kevin", "department": "HR", "age": 29, "salary": 4800},
    {"name": "Laura", "department": "Marketing", "age": 25, "salary": 4100},
    {"name": "Mike", "department": "Finance", "age": 23, "salary": 3500},
    {"name": "Nina", "department": "IT", "age": 26, "salary": 5400},
    {"name": "Oscar", "department": "Marketing", "age": 30, "salary": 5000},
    {"name": "Patricia", "department": "HR", "age": 40, "salary": 6800},
    {"name": "Quentin", "department": "Finance", "age": 45, "salary": 7500}
]

# Masukkan data ke koleksi
collection.insert_many(employees)

# Tampilkan hasil
for emp in collection.find({}, {"_id": 0}):
    print(emp)

{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Charlie', 'department': 'HR', 'age': 35, 'salary': 5500}
{'name': 'Evan', 'department': 'Finance', 'age': 32, 'salary': 6000}
{'name': 'Fiona', 'department': 'IT', 'age': 28, 'salary': 7000}
{'name': 'George', 'department': 'HR', 'age': 24, 'salary': 3800}
{'name': 'Hannah', 'department': 'Marketing', 'age': 27, 'salary': 4200}
{'name': 'Ivan', 'department': 'Finance', 'age': 31, 'salary': 5800}
{'name': 'Julia', 'department': 'IT', 'age': 33, 'salary': 7200}
{'name': 'Kevin', 'department': 'HR', 'age': 29, 'salary': 4800}
{'name': 'Laura', 'department': 'Marketing', 'age': 25, 'salary': 4100}
{'name': 'Mike', 'department': 'Finance', 'age': 23, 'salary': 3500}
{'name': 'Nina', 'department': 'IT', 'age': 26, 'salary': 5400}
{'name': 'Oscar', 'department': 'Marketing', 'age': 30, 'salary': 5000}
{'name': 'Patricia', 'department': 'HR', 'age': 40, 'salary': 6800}
{'name': 'Quentin', 'department': 'Finance', 'age': 45, 'salary': 7500}

In [35]:
pipeline_top5 = [
    {"$sort": {"department": 1, "salary": -1}},  # Urutkan berdasarkan departemen & gaji tertinggi
    {"$group": {
        "_id": "$department",
        "topEmployees": {"$push": {"name": "$name", "salary": "$salary"}}
    }},
    {"$project": {
        "top5": {"$slice": ["$topEmployees", 5]}
    }}
]

results = collection.aggregate(pipeline_top5)

print("=== Karyawan dengan Gaji Tertinggi ===")
for dept in results:
    print(f"\nDepartemen: {dept['_id']}")
    for emp in dept["top5"]:
        print(f" - {emp['name']} | Gaji: {emp['salary']}")

=== Karyawan dengan Gaji Tertinggi ===

Departemen: Finance
 - Quentin | Gaji: 7500
 - Evan | Gaji: 6000
 - Ivan | Gaji: 5800
 - Alice | Gaji: 4500
 - Mike | Gaji: 3500

Departemen: HR
 - Patricia | Gaji: 6800
 - Charlie | Gaji: 5500
 - Kevin | Gaji: 4800
 - George | Gaji: 3800

Departemen: IT
 - Julia | Gaji: 7200
 - Fiona | Gaji: 7000
 - Nina | Gaji: 5400

Departemen: Marketing
 - Oscar | Gaji: 5000
 - Hannah | Gaji: 4200
 - Laura | Gaji: 4100

In [36]:
delete_result = collection.delete_many({"age": {"$lt": 25}})

print(f"\n=== Menghapus karyawan di bawah 25 tahun ===")
print(f"\nJumlah karyawan dihapus: {delete_result.deleted_count}")

# Cek data setelah penghapusan
print("\nData karyawan terbaru:")
for emp in collection.find({}, {"_id": 0}):
    print(emp)

=== Menghapus karyawan di bawah 25 tahun ===

Jumlah karyawan dihapus: 2

Data karyawan terbaru:
{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Charlie', 'department': 'HR', 'age': 35, 'salary': 5500}
{'name': 'Evan', 'department': 'Finance', 'age': 32, 'salary': 6000}
{'name': 'Fiona', 'department': 'IT', 'age': 28, 'salary': 7000}
{'name': 'Hannah', 'department': 'Marketing', 'age': 27, 'salary': 4200}
{'name': 'Ivan', 'department': 'Finance', 'age': 31, 'salary': 5800}
{'name': 'Julia', 'department': 'IT', 'age': 33, 'salary': 7200}
{'name': 'Kevin', 'department': 'HR', 'age': 29, 'salary': 4800}
{'name': 'Laura', 'department': 'Marketing', 'age': 25, 'salary': 4100}
{'name': 'Nina', 'department': 'IT', 'age': 26, 'salary': 5400}
{'name': 'Oscar', 'department': 'Marketing', 'age': 30, 'salary': 5000}
{'name': 'Patricia', 'department': 'HR', 'age': 40, 'salary': 6800}
{'name': 'Quentin', 'department': 'Finance', 'age': 45, 'salary': 7500}

In [38]:
pipeline_summary = [
    {"$group": {
        "_id": "$department",
        "totalSalary": {"$sum": "$salary"},
        "avgAge": {"$avg": "$age"},
        "employeeCount": {"$sum": 1}
    }},
    {"$sort": {"_id": 1}}
]

summary = collection.aggregate(pipeline_summary)

print("\n=== Laporan Ringkas tiap Departemen ===")
print("")
for dept in summary:
    print(f"Departemen: {dept['_id']}")
    print(f" - Total Gaji: {dept['totalSalary']}")
    print(f" - Rata-rata Umur: {dept['avgAge']:.2f}")
    print(f" - Jumlah Karyawan: {dept['employeeCount']}\n")

=== Laporan Ringkas tiap Departemen ===

Departemen: Finance
 - Total Gaji: 23800
 - Rata-rata Umur: 34.25
 - Jumlah Karyawan: 4

Departemen: HR
 - Total Gaji: 17100
 - Rata-rata Umur: 34.67
 - Jumlah Karyawan: 3

Departemen: IT
 - Total Gaji: 19600
 - Rata-rata Umur: 29.00
 - Jumlah Karyawan: 3

Departemen: Marketing
 - Total Gaji: 13300
 - Rata-rata Umur: 27.33
 - Jumlah Karyawan: 3