In [2]:
print("Hai")

Hai

In [3]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [4]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('690c0fb09e24ada7bf81fc5f'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c0fb09e24ada7bf81fc60'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('69127e8ea40817170d6f2d28'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('69127e8ea40817170d6f2d29'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [5]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('690c0fb09e24ada7bf81fc5f'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c0fb09e24ada7bf81fc60'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('69127e8ea40817170d6f2d28'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('69127e8ea40817170d6f2d29'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [6]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}

In [7]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Computer Science', 'max_enrollment': 25}

In [8]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690c0fb09e24ada7bf81fc5f'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('690c0fb09e24ada7bf81fc60'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('690c0fb09e24ada7bf81fc61'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('690c0fb09e24ada7bf81fc62'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('69127e8ea40817170d6f2d28'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('69127e8ea40817170d6f2d29'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('69127e8ea40817170d6f2d2a'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('69127e8ea40817170d6f2d2b'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [9]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690c0fb09e24ada7bf81fc5f'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('690c0fb09e24ada7bf81fc60'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('690c0fb09e24ada7bf81fc61'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('690c0fb09e24ada7bf81fc62'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('69127e8ea40817170d6f2d28'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('69127e8ea40817170d6f2d29'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('69127e8ea40817170d6f2d2a'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('69127e8ea40817170d6f2d2b'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

In [57]:
# Koleksi students
students = db['students']
students.delete_many({})

students_data = [
    # Departemen TEKNIK
    {'student_id': 1, 'name': "Rina", 'major': "Computer Science", 'department': "TEKNIK", 'course_id': 1},
    {'student_id': 13, 'name': "Rindi", 'major': "Computer Science", 'department': "TEKNIK", 'course_id': 1},
    {'student_id': 14, 'name': "Rani", 'major': "Computer Science", 'department': "TEKNIK", 'course_id': 1},
    {'student_id': 15, 'name': "Rini", 'major': "Computer Science", 'department': "TEKNIK", 'course_id': 1},
    {'student_id': 2, 'name': "Bayu", 'major': "Mechanical Engineering", 'department': "TEKNIK", 'course_id': 2},
    {'student_id': 3, 'name': "Sinta", 'major': "Electrical Engineering", 'department': "TEKNIK", 'course_id': 3},
    
    # Departemen FISIPOL
    {'student_id': 4, 'name': "Rahman", 'major': "International Relations", 'department': "FISIPOL", 'course_id': 4},
    {'student_id': 5, 'name': "Kevin", 'major': "Public Administration", 'department': "FISIPOL", 'course_id': 5},
    
    # Departemen FAPERTA
    {'student_id': 6, 'name': "Lestari", 'major': "Agrotechnology", 'department': "FAPERTA", 'course_id': 6},
    {'student_id': 7, 'name': "Bagas", 'major': "Agribusiness", 'department': "FAPERTA", 'course_id': 7},
    
    # Departemen FKIP
    {'student_id': 8, 'name': "Nadia", 'major': "Mathematics", 'department': "FKIP", 'course_id': 8},
    {'student_id': 16, 'name': "Nadin", 'major': "Mathematics", 'department': "FKIP", 'course_id': 8},
    {'student_id': 17, 'name': "Nadila", 'major': "Mathematics", 'department': "FKIP", 'course_id': 8},
    {'student_id': 18, 'name': "Nadiva", 'major': "Mathematics", 'department': "FKIP", 'course_id': 8},
    {'student_id': 9, 'name': "Rafi", 'major': "Indonesian Language Education", 'department': "FKIP", 'course_id': 9},
    
    # Departemen FE
    {'student_id': 10, 'name': "Dewi", 'major': "Management", 'department': "FE", 'course_id': 10},
    {'student_id': 11, 'name': "Hendra", 'major': "Accounting", 'department': "FE", 'course_id': 11},
    {'student_id': 12, 'name': "Putri", 'major': "Economics", 'department': "FE", 'course_id': 12},
]

students.insert_many(students_data)

print("=== ᴅᴀᴛᴀ ꜱᴛᴜᴅᴇɴᴛꜱ ꜱᴀᴀᴛ ɪɴɪ ===")
print("===============================================================")
print("{:<5} {:<10} {:<30} {:<15} {:<10}".format("ID", "Nama", "Jurusan", "Departemen", "Course ID"))
print("---------------------------------------------------------------")

for student in students.find({}, {'_id': 0}):
    print("{:<5} {:<10} {:<30} {:<15} {:<10}".format(
        student['student_id'],
        student['name'],
        student['major'],
        student['department'],
        student['course_id']
    ))

print("===============================================================")

courses = db['courses']
courses.delete_many({})

courses_data = [
    {'course_id': 1, 'course_name': "Intro to Programming", 'lecturer': "Dr. Andi"},
    {'course_id': 2, 'course_name': "Mechanical Design", 'lecturer': "Dr. Budi"},
    {'course_id': 3, 'course_name': "Electrical Circuits", 'lecturer': "Dr. Citra"},
    {'course_id': 4, 'course_name': "International Politics", 'lecturer': "Dr. Dina"},
    {'course_id': 5, 'course_name': "Public Policy", 'lecturer': "Dr. Edo"},
    {'course_id': 6, 'course_name': "Agrotechnology Basics", 'lecturer': "Dr. Fajar"},
    {'course_id': 7, 'course_name': "Agribusiness Management", 'lecturer': "Dr. Gita"},
    {'course_id': 8, 'course_name': "Mathematical Analysis", 'lecturer': "Dr. Hasan"},
    {'course_id': 9, 'course_name': "Indonesian Grammar", 'lecturer': "Dr. Ita"},
    {'course_id': 10, 'course_name': "Management Principles", 'lecturer': "Dr. Joko"},
    {'course_id': 11, 'course_name': "Accounting 101", 'lecturer': "Dr. Kris"},
    {'course_id': 12, 'course_name': "Microeconomics", 'lecturer': "Dr. Lia"},
]

courses.insert_many(courses_data)

print("\n=== ᴅᴀᴛᴀ ᴄᴏᴜʀꜱᴇꜱ ꜱᴀᴀᴛ ɪɴɪ ===")
print("===============================================================")
print("{:<5} {:<30} {:<20}".format("ID", "Nama Course", "Dosen"))
print("---------------------------------------------------------------")

for course in courses.find({}, {'_id': 0}):
    print("{:<5} {:<30} {:<20}".format(
        course['course_id'],
        course['course_name'],
        course['lecturer']
    ))

print("===============================================================")

=== ᴅᴀᴛᴀ ꜱᴛᴜᴅᴇɴᴛꜱ ꜱᴀᴀᴛ ɪɴɪ ===
===============================================================
ID    Nama       Jurusan                        Departemen      Course ID
---------------------------------------------------------------
1     Rina       Computer Science               TEKNIK          1
13    Rindi      Computer Science               TEKNIK          1
14    Rani       Computer Science               TEKNIK          1
15    Rini       Computer Science               TEKNIK          1
2     Bayu       Mechanical Engineering         TEKNIK          2
3     Sinta      Electrical Engineering         TEKNIK          3
4     Rahman     International Relations        FISIPOL         4
5     Kevin      Public Administration          FISIPOL         5
6     Lestari    Agrotechnology                 FAPERTA         6
7     Bagas      Agribusiness                   FAPERTA         7
8     Nadia      Mathematics                    FKIP            8
16    Nadin      Mathematics                    FKIP            8
17    Nadila     Mathematics                    FKIP            8
18    Nadiva     Mathematics                    FKIP            8
9     Rafi       Indonesian Language Education  FKIP            9
10    Dewi       Management                     FE              10
11    Hendra     Accounting                     FE              11
12    Putri      Economics                      FE              12
===============================================================

=== ᴅᴀᴛᴀ ᴄᴏᴜʀꜱᴇꜱ ꜱᴀᴀᴛ ɪɴɪ ===
===============================================================
ID    Nama Course                    Dosen
---------------------------------------------------------------
1     Intro to Programming           Dr. Andi
2     Mechanical Design              Dr. Budi
3     Electrical Circuits            Dr. Citra
4     International Politics         Dr. Dina
5     Public Policy                  Dr. Edo
6     Agrotechnology Basics          Dr. Fajar
7     Agribusiness Management        Dr. Gita
8     Mathematical Analysis          Dr. Hasan
9     Indonesian Grammar             Dr. Ita
10    Management Principles          Dr. Joko
11    Accounting 101                 Dr. Kris
12    Microeconomics                 Dr. Lia
===============================================================

In [58]:
# === PIPELINE: Menghitung jumlah jurusan tiap department ===
pipeline_jumlah_jurusan = [
    {
        '$group': {
            '_id': '$department',              # kelompokkan berdasarkan department
            'jumlah_jurusan': {'$addToSet': '$major'}  # kumpulkan jurusan unik
        }
    },
    {
        '$project': {
            '_id': 0,
            'department': '$_id',
            'total_jurusan': {'$size': '$jumlah_jurusan'}  # hitung banyaknya jurusan unik
        }
    },
    {
        '$sort': {'department': 1}             # urutkan berdasarkan nama departemen (opsional)
    }
]

print("\n=== ᴊᴜᴍʟᴀʜ ᴊᴜʀᴜꜱᴀɴ ᴛɪᴀᴘ ᴅᴇᴘᴀʀᴛᴍᴇɴ ===")
print("==============================================")
print("{:<15} {:<10}".format("Department", "Total Jurusan"))
print("----------------------------------------------")

for result in students.aggregate(pipeline_jumlah_jurusan):
    print("{:<15} {:<10}".format(result['department'], result['total_jurusan']))

print("==============================================")

=== ᴊᴜᴍʟᴀʜ ᴊᴜʀᴜꜱᴀɴ ᴛɪᴀᴘ ᴅᴇᴘᴀʀᴛᴍᴇɴ ===
==============================================
Department      Total Jurusan
----------------------------------------------
FAPERTA         2
FE              3
FISIPOL         2
FKIP            2
TEKNIK          3
==============================================

In [53]:
# Tambahkan field 'status' untuk menandai siapa yang lolos
students.update_many(
    {'major': {'$in': ['Computer Science', 'Mathematics']}},
    {'$set': {'status': 'Lolos'}}
)

# PIPELINE untuk menghitung jumlah orang yang lolos per jurusan
pipeline_lolos = [
    {
        '$match': {
            'major': {'$in': ['Computer Science', 'Mathematics']},
            'status': 'Lolos'
        }
    },
    {
        '$group': {
            '_id': '$major',
            'jumlah_lolos': {'$sum': 1}
        }
    },
    {
        '$project': {
            '_id': 0,
            'Jurusan': '$_id',
            'Jumlah Lolos': '$jumlah_lolos'
        }
    }
]

# Jalankan pipeline dan tampilkan hasilnya
print("\n=== ᴊᴜᴍʟᴀʜ ᴍᴀʜᴀꜱɪꜱᴡᴀ ʟᴏʟᴏꜱ ʙᴇʀᴅᴀꜱᴀʀᴋᴀɴ ᴊᴜʀᴜꜱᴀɴ ===")
print("=================================================")
print("{:<25} {:<15}".format("Jurusan", "Jumlah Lolos"))
print("-------------------------------------------------")

for result in students.aggregate(pipeline_lolos):
    print("{:<25} {:<15}".format(result['Jurusan'], result['Jumlah Lolos']))

print("=================================================")

=== ᴊᴜᴍʟᴀʜ ᴍᴀʜᴀꜱɪꜱᴡᴀ ʟᴏʟᴏꜱ ʙᴇʀᴅᴀꜱᴀʀᴋᴀɴ ᴊᴜʀᴜꜱᴀɴ ===
=================================================
Jurusan                   Jumlah Lolos
-------------------------------------------------
Computer Science          4
Mathematics               4
=================================================

In [59]:
# === PIPELINE ===
pipeline_cs_courses = [
    {'$match': {'major': 'Computer Science'}},  # ambil hanya jurusan Computer Science
    {'$group': {
        '_id': '$course_id',
        'jumlah_pendaftar': {'$sum': 1}
    }},
    {'$match': {'jumlah_pendaftar': {'$gt': 25}}},  # hanya yang jumlahnya > 25
    {'$project': {
        '_id': 0,
        'Course ID': '$_id',
        'Jumlah Pendaftar': '$jumlah_pendaftar'
    }}
]

# === OUTPUT ===
print("=== Kursus Computer Science dengan > 25 Pendaftar ===")
print("=====================================================")
for result in students.aggregate(pipeline_cs_courses):
    print(f"Course ID: {result['Course ID']} | Jumlah Pendaftar: {result['Jumlah Pendaftar']}")
print("=====================================================")

=== Kursus Computer Science dengan > 25 Pendaftar ===
=====================================================
=====================================================

In [60]:
# === PIPELINE $lookup ===
pipeline_lookup = [
    {
        '$lookup': {
            'from': 'courses',          # nama koleksi yang akan digabung (courses)
            'localField': 'course_id',  # field di students
            'foreignField': 'course_id',# field di courses
            'as': 'course_details'      # hasil join disimpan di field baru
        }
    },
    {
        '$unwind': '$course_details'    # pecah array agar tiap dokumen jadi satu baris
    },
    {
        '$project': {                   # tampilkan field yang diinginkan saja
            '_id': 0,
            'Nama': '$name',
            'Jurusan': '$major',
            'Departemen': '$department',
            'Course ID': '$course_id',
            'Nama Course': '$course_details.course_name',
            'Dosen': '$course_details.lecturer'
        }
    }
]

# === OUTPUT ===
print("=== HASIL JOIN STUDENTS x COURSES ===")
print("======================================")
for result in students.aggregate(pipeline_lookup):
    print(f"Nama: {result['Nama']:<10} | Jurusan: {result['Jurusan']:<25} | "
          f"Departemen: {result['Departemen']:<10} | Course ID: {result['Course ID']} | "
          f"Course: {result['Nama Course']} | Dosen: {result['Dosen']}")
print("======================================")

=== HASIL JOIN STUDENTS x COURSES ===
======================================
Nama: Rina       | Jurusan: Computer Science          | Departemen: TEKNIK     | Course ID: 1 | Course: Intro to Programming | Dosen: Dr. Andi
Nama: Rindi      | Jurusan: Computer Science          | Departemen: TEKNIK     | Course ID: 1 | Course: Intro to Programming | Dosen: Dr. Andi
Nama: Rani       | Jurusan: Computer Science          | Departemen: TEKNIK     | Course ID: 1 | Course: Intro to Programming | Dosen: Dr. Andi
Nama: Rini       | Jurusan: Computer Science          | Departemen: TEKNIK     | Course ID: 1 | Course: Intro to Programming | Dosen: Dr. Andi
Nama: Bayu       | Jurusan: Mechanical Engineering    | Departemen: TEKNIK     | Course ID: 2 | Course: Mechanical Design | Dosen: Dr. Budi
Nama: Sinta      | Jurusan: Electrical Engineering    | Departemen: TEKNIK     | Course ID: 3 | Course: Electrical Circuits | Dosen: Dr. Citra
Nama: Rahman     | Jurusan: International Relations   | Departemen: FISIPOL    | Course ID: 4 | Course: International Politics | Dosen: Dr. Dina
Nama: Kevin      | Jurusan: Public Administration     | Departemen: FISIPOL    | Course ID: 5 | Course: Public Policy | Dosen: Dr. Edo
Nama: Lestari    | Jurusan: Agrotechnology            | Departemen: FAPERTA    | Course ID: 6 | Course: Agrotechnology Basics | Dosen: Dr. Fajar
Nama: Bagas      | Jurusan: Agribusiness              | Departemen: FAPERTA    | Course ID: 7 | Course: Agribusiness Management | Dosen: Dr. Gita
Nama: Nadia      | Jurusan: Mathematics               | Departemen: FKIP       | Course ID: 8 | Course: Mathematical Analysis | Dosen: Dr. Hasan
Nama: Nadin      | Jurusan: Mathematics               | Departemen: FKIP       | Course ID: 8 | Course: Mathematical Analysis | Dosen: Dr. Hasan
Nama: Nadila     | Jurusan: Mathematics               | Departemen: FKIP       | Course ID: 8 | Course: Mathematical Analysis | Dosen: Dr. Hasan
Nama: Nadiva     | Jurusan: Mathematics               | Departemen: FKIP       | Course ID: 8 | Course: Mathematical Analysis | Dosen: Dr. Hasan
Nama: Rafi       | Jurusan: Indonesian Language Education | Departemen: FKIP       | Course ID: 9 | Course: Indonesian Grammar | Dosen: Dr. Ita
Nama: Dewi       | Jurusan: Management                | Departemen: FE         | Course ID: 10 | Course: Management Principles | Dosen: Dr. Joko
Nama: Hendra     | Jurusan: Accounting                | Departemen: FE         | Course ID: 11 | Course: Accounting 101 | Dosen: Dr. Kris
Nama: Putri      | Jurusan: Economics                 | Departemen: FE         | Course ID: 12 | Course: Microeconomics | Dosen: Dr. Lia
======================================